*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
:root {
	--color-primary: #dc143c;
	--color-secondary: #008000;
	--color-white: #fff;
	--color-black: #000;

	--color-grey-dark: #333;
	--color-grey-light-1: #eee;
	--color-grey-light-2: #ddd;
}

html {
	font-size: 100%;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	box-sizing: border-box;
	line-height: 1.1;
	background-color: var(--color-grey-light-1);
	height: 95vh;
}

.nav {
	display: grid;
	grid-template-columns: 10rem minmax(min-content, 1fr);
	background-color: var(--color-grey-light-2);
}

.nav__logo {
	font-size: 2rem;
	font-weight: 500;
	padding: 0.7rem 1.2rem;
	margin-left: 1.2rem;
	color: var(--color-primary);
}

.nav__list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, max-content);
	place-content: center;
	margin-left: auto;
}

.nav__item {
	padding: 1.2rem 1.5rem;
}

.nav__link,
.nav__link:visited {
	/* padding: 1rem 2rem; */
	font-size: 1.2rem;
	text-decoration: none;
	color: var(--color-grey-dark);
}

.container {
	width: 75vw;
	margin: 0 auto;
	height: calc(90vh - 6rem);
}

.form {
	width: 80%;
	margin: 0 auto;
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 2px solid var(--color-primary);
}

/* .form__group {
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
} */

.form select {
	padding: 0.2rem 1rem;
	border: 2px solid;
	margin-right: 1rem;
}

.form select:hover,
.form select:focus {
	border: 2px solid var(--color-secondary);
}

.heading__primary {
	font-size: 2rem;
	font-weight: 400;
	color: var(--color-primary);
	text-align: center;
	margin: 1rem;
}

.button {
	width: 70%;
	margin: 1.5rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn {
	text-decoration: none;
	color: var(--color-white);
	font-size: 1rem;
	font-weight: 500;
	background-color: var(--color-primary);
	padding: 0.3rem 1rem;
	transition: all 0.2s;
}

.btn--filter {
	margin-left: 1rem;
	align-self: flex-end;
}

.btn:hover,
.btn:focus {
	background-color: var(--color-grey-light-1);
	color: var(--color-primary);
}

.pages__link {
	/* text-decoration: none; */
	color: var(--color-black);
	padding: 0.2rem 0.5rem;
}

.current-link {
	background-color: var(--color-primary);
	color: var(--color-white);
}

table {
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
}

th,
td {
	border: solid 1px var(--color-black);
	height: 2.5rem;
	padding: 5px 1rem;
}

th {
	text-align: left;
	font-weight: 600;
	background-color: var(--color-grey-light-2);
}

@media only screen and (max-width: 1000px) {
	.form {
		margin: 1rem auto;
		padding: 1rem;
		flex-direction: column;
		justify-content: unset;
		align-items: unset;
	}

	.form select {
		padding: 0.1rem 0.7rem;
		border: 2px solid;
		margin: 0.5rem;
	}

	.btn--filter {
		margin-left: 0;
		align-self: center;
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 95%;
	}
	.nav {
		grid-template-columns: none;
	}

	.nav__logo {
		justify-self: center;
		font-size: 2rem;
		padding: 0.5rem 0 0.7 0;
		margin-left: 0;
	}

	.nav__list {
		grid-template-columns: repeat(4, max-content);
		margin-left: 0;
		justify-self: center;
	}

	.nav__item {
		padding: 0.6rem 1.7rem;
	}

	.nav__item:not(:last-child) {
		border-right: solid 1px var(--color-primary);
	}
}

@media only screen and (max-width: 400px) {
	html {
		font-size: 65%;
	}
}
