<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if not session.get('logged_in',None) %}
      <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}" />
      {% endif %}
      <link rel="stylesheet" href="/static/style.css" />
      {% if title %}
      <title>{{ title }}</title>
      {%else%}
      <title>Donate-Life</title>
      {% endif %}
  </head>
  <body>
      <nav class="nav">
          <h1 class="nav__logo">Donate-Life</h1>
          <ul class="nav__list">
              <li class="nav__item"><a href="#" class="nav__link">About</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
              {% if session.get('logged_in',None) %}
              
              <li class="nav__item"><a href="{{ url_for('logout.logout') }}" class="nav__link">Log-out</a></li>
                
              {% else %}
                <li class="nav__item"><a href="{{ url_for('login.login') }}" class="nav__link">Log-in</a></li>
                <li class="nav__item"><a href="{{ url_for('signup.signup') }}" class="nav__link">Sign-up</a></li>
              {% endif %}
              
          </ul>
      </nav>

      {% block content %}{% endblock %}
      
  </body>
</html>