{% extends "base.html" %}
{% block content %}
    <main class="container">
        <form action="#" class="form" method="post">
            <label for="state">Filter by State</label>
            <select name="state" id="state" class="form-control">
                <option value="" selected>-- Select State --</option>
                
            </select>
            <label for="city">Filter by city</label>
            <select name="city" id="city" class="form-control"></select>
            <button type="submit" class="btn btn--filter">Apply</button>
        </form>
        <table>
            <!-- <caption>
                Blood Banks
            </caption> -->
            <!-- filter form -->
			
            <div class="button" ;">
            
                {% if page_metadata.prev_page %}
                    
                    <a href="{{ url_for('home.index',page = page_metadata.prev_page) }}" class="btn">Previous</a>
                {% else %}
                    <span></span>
                {% endif %}
                <div style="margin:0 auto">
                    <h1 class="heading__primary">Blood Banks</h1>
                </div>
                <!-- <caption>
                Blood Banks
                </caption> -->
                <!-- <div class="pages" >
                    <a href="#" class="pages__link">1</a>
                    <a href="#" class="pages__link">2</a>prev_page
                    <a href="#" class="pages__link current-link">3</a>
                    <a href="#" class="pages__link">4</a>
                    <a href="#" class="pages__link">5</a>
                    <a href="#" class="pages__link">6</a>
                    <a href="#" class="pages__link">7</a>
                    <a href="#" class="pages__link">8</a>
                </div> -->
                {% if page_metadata.next_page %}
                    <a href="{{ url_for('home.index',page = page_metadata.next_page) }}" class="btn">Next</a>
                {% endif %}
            </div>
            <thead>
                <tr>
                    <th>S.no.</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>District</th>
                    <th>State</th>
                    <th>Pincode</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% if data_obj %}
                {% for obj in data_obj %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{obj.name}}</td>
                    <td>{{obj.city}}</td>
                    <td>{{obj.district}}</td>
                    <td>{{obj.state}}</td>
                    <td>{{obj.pincode}}</td>
                    <td>{{obj.contact_number}}</td>
                    <td>{{obj.address}}</td>
                </tr>
                
                {% endfor %}
                {% endif %}
                
                
            </tbody>
            
        </table>
        
    </main>
{% endblock %}