{% extends "base.html" %}
{% block content %}
  <form method="POST" style="border:1px solid #ccc">
    <div class="container">
      <h1 style="text-align: center;">Sign Up</h1>
      <p style="text-align: center;">Please fill in this form to create an account.</p>
      <hr>
      {% with messages = get_flashed_messages() %}
      
        {% if messages %}
            {% for message in messages %}
                <h2 style="text-align: center; color:red">{{message}}</h3>
            {% endfor %}
        {% endif %}
      {% endwith %}
                
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>
                
      <label for="first_name"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="first_name" required>
                
      <label for="last_name"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="last_name" required>
                
      <label for="birth_date"><b>Date of Birth</b></label>
      <input type="date" id="birthday" name="birth_date" required>
                
      <label for="blood_group"><b>Choose you blood group</b></label>
      <select id="blood_group" name="blood_group" required>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
    
      <label for="blood_group"><b>Enter State</b></label>
      <select id="blood_group" name="blood_group" required>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="West Bengal">West Bengal</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
        <option value="Delhi">Delhi</option>
        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
        <option value="Ladakh">Ladakh</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Puducherry">Puducherry</option>
      </select>
    
      <label for="city"><b>City</b></label>
      <input type="text" placeholder="Enter City" name="city" required>
    
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
    
      <label for="confirm_password"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="confirm_password" required>
    
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label> -->
    
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
{% endblock %}